doctype html
html
  head
    title= Title
  body
    p The server room went #[b boom]
    p The fire alarm, however , #[u failed to go off...]
    p Not even #[a(href="https://stackoverflow.com/") Stack Overflow] could save them now.