doctype html
html
    head
     script. 
       window.onload = function(){
          function setUsername(username){
            return username;
          }

          var user = !{JSON.stringify(user)};
          document.getElementById("welcome-user").innerHTML = setUsername(user.name);
       };

    body
        div(id="welcome-user")

          