- var title = 'Aarrow'
block layoutvar

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='lib/myfontastic/styles.css')
    link(rel='stylesheet', href='css/app/variables.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css')
    block linkcss
  body
    block bodycontent
    script(src='https://code.jquery.com/jquery-3.4.1.js', integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.3/bootbox.min.js')
    script(src='js/TraslateApp.js')
    block scripts

block layoutvar
  - title = 'Aarrow: Login'

block linkcss
  link(rel='stylesheet', href='css/session/login.css')

block scripts
  script(src='js/SessionApp.js')

block bodycontent
  .FormLogin
    img(src='assets/img/logo_aarrow.png', alt='Aarrow')
    h1
      span My
      span AArrow
    form#login-form(method='post')
      .fields
        label.hdt-user(for='username')
        input#username(name='username', type='text', placeholder='username')
      .fields
        label.hdt-key(for='password')
        input#password(name='password', type='password', placeholder='password')
      button#btn-submit(type='submit') Login
      div(style='margin-top: 10px;')
        a(href='#') Login ➔
        br
      div(style='margin-top: 10px;')
        a#forgot_password_users(href='#', data-toggle='modal', data-target='#modal_forgot_password') I forgot my password
      #errorFlash.alert.alert-danger.alert-dismissible(hidden)
