- var url= url1
- var btnType= info
- var btnSize= size
a(href='/'+url)
|
|
- url= url2
a(href=url) Another link 
|
|
button(type='button' class='btn btn-' + btnType + 'btn-' + btnSize)
|
|
button(type='button' class=`btn btn-${btnType} btn-${btnSize}`)