- var authenticated= bool;
body(class=authenticated ? 'authed':'anon')
    |
    |
    a(href="google.com") Google
    |
    |
    a(class='button' href="google.com") Google
    |
    |
    a(class='button' href="google.com") Google
    |
    |